<div id="wrapper">
      <h3>
        Sponsors and Partners
      </h3>
    <% @videos.each do |video| %>
      <% if video.title? %>
          <%= link_to video.title, video %>
      <% end %>
            <%= video.description.html_safe if video.description? %>
    <% end %>
</div>
