<div id="page">
  <div id="content">
    <% @videos.each do |video| %>
      <div id="post">
      <% if video.title? %>
        <h3 class="title">
          <%= link_to video.title, video %>
        </h3>
      <% end %>
        <div class="entry">
          <p class="large_font">
            <%= video.description.html_safe if video.description? %>
          </p>
        </div>
     </div>
    <% end %>
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
