<div id="wrapper">  	
	<ul class="videos">
		<h1>Sponsors and Partners</h1>
		<% @videos.each do |video| %>
	  		
	  		<li><h1><%= link_to video.title, video if video.title? %></h1></li>
			<div class="text">	
		    	<li><p><%= video.description.html_safe if video.description? %></p></li>
			</div>

		<% end %>
	</ul>
</div>
