<title> Paint for Future - Partners</title>

<div id="wrapper">  	
	<ul class="videos">
		<li><h1>Sponsors and Partners</h1></li>
		<% @videos.each do |video| %>
	  		<li><h1><%= link_to video.title, video if video.title? %></h1></li>
	    	<li><%= video.description.html_safe if video.description? %></li>
	    	<br>
	    	<br>
		<% end %>
	</ul>
</div>
