<div id="page">
  <div id="content">
    <div id="post">
    
      <h3 class="title"><%= link_to @video.title, @video %></h3>

        <div style="clear: both;"></div>
        <div class="entry">
          <p>
            <%= @video.description.html_safe if @video.description? %>
          </p>
        </div>
    </div>
  <br />
  <br />
  <br />
  <br />
  <strong>
    <%= link_to 'View all sponsors', videos_path %> 
  </strong>
  <br />
  <br />
  </div>
</div>
