<ul style="margin-bottom:20px;">
  <% @messages.each do |message| %>
  	<% if message.message_type == "About us" %>
	    <li>
	      <h1 class="main-heading"><%= message.title.html_safe if message.title? %></h1>
	      <div class="donate-info">
	        <hr>
	         <p class="donate"><%= message.content.html_safe if message.content? %></p>
	      </div>
	    </li>
  	<% end %> 
  <% end %> 
</ul>  

	