<section class="main">
	<ul class="ch-grid">
		<li>
			<a href="/projects" style="text-decoration:none;">
				<div class="ch-item ch-img-1">
					<div class="ch-info">
						<h3 style="margin-bottom:-80px;">The Project</h3>
						<p style="font-size:18px;">Aid through art <a href="/projects"></a></p>
					</div>
				</div>
				<span style="font-weight:bold;">THE PROJECT</span>
			</a>
		</li>
		<li>
			<a href="/center" style="text-decoration:none;">
				<div class="ch-item ch-img-2">
					<div class="ch-info">
						<h3 style="margin-bottom:-80px;">The Center</h3>
						<p style="font-size:18px;">Sierre Leone <a href="/center"></a></p>
					</div>
				</div>
				<span style="font-weight:bold;">THE CENTER</span>
			</a>
		</li>
		<li>
			<a href="/contacts" style="text-decoration:none;">
				<div class="ch-item ch-img-3">
					<div class="ch-info">
						<h3 style="margin-bottom:-80px;"><br>About us</h3>
						<p style="font-size:18px;">Paint for Future <a href="/contacts"></a></p>
					</div>
				</div>
				<span style="font-weight:bold;">ABOUT US</span>
			</a>
		</li>
	</ul>
</section>