<section class="main">
	<ul class="ch-grid">
		<li>
			<a href="/projects">
				<div class="ch-item ch-img-1">
					<div class="ch-info">
						<h3 style="margin-bottom:-50px;text-decoration:none;">LINKS</h3>
						<p style="text-decoration:none;">by Angela Duncan <a href="http://drbl.in/eOPF">View on Dribbble</a></p>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="ch-item ch-img-2">
					<div class="ch-info">
						<h3 style="margin-bottom:-50px;text-decoration:none;">LINKS</h3>
						<p style="text-decoration:none;">by Antonio F. Mondragon <a href="http://drbl.in/eKMi">View on Dribbble</a></p>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="">
				<div class="ch-item ch-img-3">
					<div class="ch-info">
						<h3 style="margin-bottom:-50px;text-decoration:none;">LINKS</h3>
						<p style="text-decoration:none;">by Charlie Wagers <a href="http://drbl.in/ekhp">View on Dribbble</a></p>
					</div>
				</div>
			</a>
		</li>
	</ul>
</section>