<ul style="margin-bottom:20px;">
  <li>
    <h1 class="main-heading">Contribute</h1>
    <div class="info" style="margin-left:20px;width:342px;">
      <hr>
      <p>Intrested in becoming a partner or sponsor contact us on <a href="mailto:info@paintforfuture.org">info@paintforfuture.org</a>, we can never be to many.</p>
      <br>
      <p>For donations you can use our paypal donate button or</p>
      <p>Bank Giro 855-7746.</p>
    </div>
  </li>
</ul>  

