<div id="wrapper">
	<%= render :partial => "home/share_links" %>
  <footer class="main-footer">
    <p>
      &copy; 2011. info@paintforfuture.org, Östermalmsgatan 58, 5 Tr. 114 50 Stockholm, Sweden  
    </p>
  </footer>
</div>
