<div id="wrapper">
	<%= render :partial => "home/share_links" %>
  <footer class="main-footer">
      <a href="/upprop.pdf" style="color:#435465;" target="_blank">Call for suppport (pdf)</a> 
  <div itemscope itemtype="http://schema.org/Organization">
      &copy; 2012 &nbsp; 
      <span itemprop="email">info@paintforfuture.org</span>, 
  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">
      Östermalmsgatan 58, 5 Tr. 
    </span>
    <span itemprop="postalCode">
      114 50 
    </span>
    <span itemprop="addresLocality"> 
      Stockholm, Sweden 
    </span>
  </div>
    <p>
    </p>
    </div>
  </footer>
</div>
