<div id="wrapper">
	<%= render :partial => "home/share_links" %>
  <footer class="main-footer">
    <p>
      <a href="/upprop.pdf" style="color:#435465;" target="_blank">Call for suppport (pdf)</a> &copy; 2012 &nbsp; info@paintforfuture.org, Östermalmsgatan 58, 5 Tr. 114 50 Stockholm, Sweden 
    </p>
  </footer>
</div>
