<div id="home-share-buttons">
			
	<div class="fb-like" data-href="http://www.paintforfuture.org" data-send="true" data-layout="button_count" data-width="150" data-show-faces="false" data-font="trebuchet ms" style="margin-right:30px;"></div>

  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.paintforfuture.org" data-hashtags="paintforfuture">Tweet</a> 	

  <div class="g-plus" data-action="share"></div>

</div>