<body>
<br />
<div id="page">
    <%= image_tag "future.png" %>
    <br />
  <div class="home_logo">
    <%= image_tag "future_logo_mini.jpg" %>
  </div>
  <br />
  <div class="contact_center_align">
    <div class="make_black">
    <strong>
      Discover the new generation of artists 
    </strong>
    </div>
    <br />
    <br />
  </div>
</div>
</body>
