<body>
<br />
<div id="page">
    <%= image_tag "future.png" %>
    <br />
  <div class="home_logo">
    <%= image_tag "future_logo_mini.jpg" %>
  </div>
  <br />
  <div class="contact_center_align">
    <p>
      Discover the new generation of artists 
    </p>
    <br />
  </div>
</div>
</body>
