<body>
<div id="page">
  <div id="home_logo">
    <%= image_tag "future.png" %>
    <br />
    <%= image_tag "future_logo.png" %>
  </div>
  <br />
  <br />
  <br />
    <p>
      Discover the new generation of artists 
    </p>
</div>
</body>
