<div id="wrapper">

  <div class="sideshow-container">
			<div class="slider-container">
				<div id="slideshow" class="nivoSlider">
		            <%= image_tag "slides/slide1.jpg" %>
		            <%= image_tag "slides/slide3.jpg" %>
				</div><!-- end of slideshow -->
			</div>
		</div><!-- end of slideshow -->
		<h3 id="slogan">
			Discover the new generation of artists 							
		</h3>
		

		<div id="home-share-buttons">
			<div class="fb-like" data-href="http://www.paintforfuture.org" data-send="true" data-layout="button_count" data-width="150" data-show-faces="false" data-font="trebuchet ms"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.paintforfuture.org" data-hashtags="paintforfuture">Tweet</a> 	
 		</div>

		<%= render :partial => "home/circle_links" %>
		<%= render :partial => "home/partners" %>

	<!-- SOCIAL SNIPPETS -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=282725478406647";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 	
</div>
