<div id="wrapper"> 
 
 <%= image_tag ("future.png"), :id => 'name' %>  
  <div class="sideshow-container">
			<div class="slider-container">
				<div id="slideshow" class="nivoSlider">
		            <%= image_tag "slides/slide1.jpg" %>
		            <%= image_tag "slides/slide2.jpg" %>
		            <%= image_tag "slides/slide3.jpg" %>
				</div><!-- end of slideshow -->
			</div>
		</div><!-- end of slideshow -->
		<h2 id="slogan">
			Discover the new generation of artists 							
		</h2>
<iframe src="http://www.facebook.com/plugins/like.php?href=www.paintforfuture.org"
        scrolling="no" frameborder="0"
                style="border:none; width:450px; height:80px"></iframe>
</div>
