<div id="page">
  <div id="content">
    <div class="contact_center_align">
      <h3>
        Project coordinators 
      </h3>
      <br />
    </div>
   <div class="contact_table"> 
          <% @contacts.each do |contact| %>
    <table cellpadding="25">
        <tr>
            <td>
              <h3>
                <strong><%= link_to contact.name, contact  %></strong>
              </h3>
              <p><i><%= contact.job_title %></i>
              <br />
              <b><%= contact.email %></b>
              <br />
              <%= contact.phone_number if contact.phone_number? %>
              </p>
            </td>
        </tr>
    </table>  
          <% end %>
      </div>
    <br />
      <br />
      <br />
        <h3>Sierra Leone Contact</h3> 
        <br />
        <strong>Dauda Koroma</strong>
        <p><i>Manager of The Needy Today</i>
        <br />
        <b>theneedytoday@yahoo.com</b>
        <br />
          +(232) 334 745 73 
        </p>
      <br />

      <h3>For more information or interest in becoming a sponsor.</h3>
      <br />
      <p><i> Or if your interested in becoming a partner or working with us please send us an email, we can never be to many. </i>
      <br />
      <b>Send an email to info@paintforfuture.org</b>
      </p>
    <br />
    <br />
  </div>
</div>
