<div id="page">
  <div id="content">
    <div class="contact_center_align">
      <h3>
        Project coordinators 
      </h3>
      </div>
      <br />
      <br />
      <br />
   <div class="contact_table"> 
    <table cellpadding="25">
          <% @contacts.each do |contact| %>
        <tr>
            <td>
              <h3>
                <strong><%= link_to contact.name, contact  %></strong>
              </h3>
              <p><i><%= contact.job_title %></i>
              <br />
              <b><%= contact.email %></b>
              <br />
              <%= contact.phone_number %>
              </p>
            </td>
        </tr>
          <% end %>
    </table>  
    <br />
      <br />
      <br />
    <br />
    <br />
    <br />
    </div>
  </div>
</div>
