<div id="page">
  <div id="content">
    <div class="contact_center_align">
      <h3>
        Project coordinators 
      </h3>
      <br />
      <br />
      <br />
   <div class="contact_table"> 
          <% @contacts.each do |contact| %>
    <table cellpadding="25">
        <tr>
            <td>
              <h3>
                <strong><%= link_to contact.name, contact  %></strong>
              </h3>
              <p><i><%= contact.job_title %></i>
              <br />
              <b><%= contact.email %></b>
              <br />
              <%= contact.phone_number %>
              </p>
            </td>
        </tr>
    </table>  
          <% end %>
    <br />
      <br />
      <br />
        <h3>Contact in Sierra Leone</h3> 
        <br />
        <strong>Duada Koroma</strong>
        <p><i>Manager of The Needy Today</i>
        <br />
        <b>theneedytoday@yahoo.com</b>
        <br />
          +(232) 334 745 73 
        </p>
      </div>
    <br />
    <br />
    <br />
    </div>
  </div>
</div>
