<div id="page">
  <div id="content">
    <br />
    <% @projects.each do |project| %>
      <div id="container">
         <div class="project_entry">
           <h3>
            <%= project.title %>
           </h3>
         </div>
           <br />
           <p class="large_font">
            <%= project.content.html_safe if project.content? %>
           </p>
         </div>
       <br />
       <br />
    <% end %>
    <h3>Why</h3>
    <br />
    <h3>How</h3>
    <br />
    <h3>What</h3>
    <br />
<br />
  </div>
</div>
