<div id="wrapper">
  <div id="project-statement">
    <h1>Project</h1>
    <p>Charity is more than mere donation.</p>
    <p>Art is more than paint on canvas.</p>
    <p>Liberty is not a gift, but a sensation.</p>
    <br />  
    <p>Our world is bursting of desperate souls and empty stomachs.</p>
    <p>Donations of money and food are abundant.</p>
    <p>Hunger can take many shapes, and a starving imagination is enough to weaken any man.</p>
    <p>Naturally, creativity cannot be donated, it must arise from within.</p>
    <p>All one can do is provide an opportunity.</p>
    <p>This we can do.</p>
    <br/>
    <p>Let us tell you how we discovered the new generation of artists.</p>
    <p>Have a look at our project.</p>


    <ul class="project">
        <% @projects.each do |project| %>
          <li>
             <%= link_to project.title, project %>
          </li>
        <% end %>
    </ul>
    <img alt="Future_logo_mini" class="centered-future-logo" src="/assets/future_logo_mini-6f6aa7ef76c614e7cad254823b45dc75.jpg">
  </div>
</div>
