<div id="page">
  <div id="content">
    <br />
    <% @projects.each do |project| %>
      <div id="container">
         <div class="project_entry">
           <h2>
            <%= project.title %>
           </h2>
         </div>
           <br />
           <p class="large_font">
            <%= project.content.html_safe if project.content? %>
           </p>
         </div>
       <br />
       <br />
    <% end %>
<br />
  </div>
</div>
