<div id="wrapper">
  
  <ul class="project-show">
	  <li>
		  <h1><%= @project.title %></h1>
		  <div class="text">
			  <p><%= @project.content.html_safe %></p>
		  </div>
	  </li>
	</ul>
  
    <ul class="project">
        <li>
          <a href"www.paintforfuture.org/projects/4">Why</a>
        </li>
        <li>
          <a href"www.paintforfuture.org/projects/5">How</a>
        </li>
        <li>
          <a href"www.paintforfuture.org/projects/6">What</a>
        </li>
        <br>
		  
      <h3><%= link_to 'Back', projects_path %></h3>
    </ul>
</div>
