<div id="wrapper">
  
  <ul class="project-show">
	  <li>
		  <h1><%= @project.title %></h1>
		  <div class="text">
			  <p><%= @project.content.html_safe %></p>
		  </div>
		  <strong> 
		     <%= link_to 'Back', projects_path %> 
		  </strong>
	  </li>
	</ul>
</div>