/*
@import "scaffolds"; 
@import "goals"; 
*/

@import "posts"; 
@import "home"; 
@import "projects"; 
@import "contacts"; 

/* $grey: #8E8E8E;  */
 $grey: #696969; 

body {
	margin: 0; 
	padding: 0;
  font-family:"Courier New",Courier,monospace; 
 /* font-family: "Arial",Gadget,sans-serif; */
 /*	font-family: Arial, Helvetica, sans-serif; */
	font-size: 12px;
	color: #3A4648;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: $grey;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 2.0em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #8EAAB0;
}

a:hover {
}

/* Paragraphs font-sizes */

p.large_font{
  font-size: 1.3em;
  color: black;
}

p.larger_font{
  font-size: 1.5em;
}

.center_align_text{
  text-align: center;
}
#wrapper {
	background: #FFF center 115px;
}

.container {
	width: 1000px;
	margin: 0px auto;
}

/* Header */

#header {
	width: 900px;
	height: 115px;
	margin: 0 auto;
	padding: 0px 30px;
	 font-family: Arial, Helvetica, sans-serif; 
  /* font-family:"Courier New",Courier,monospace; */
}

/* Front Page logo */

#front_page_logo {
  width: 900px;
  margin: 0 auto;
  padding: 0px 50px;
}

/* Logo */

#logo {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #FFFFFF;
}


#logo p {
}

#logo h1 {
	padding:10px 0px 0px 0px;
	letter-spacing: -2px;
	text-transform: lowercase;
	font-size: 3.8em;
}

#logo h1 a {
	color: $grey;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	letter-spacing: -1px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: $grey;
}

#logo p a {
	color: $grey;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #000000;
}


/* Menu */

#menu {
	float: right;
	width: 900px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: left;
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 20px;
	margin-right: 1px;
	padding: 50px 30px 15px 15px;
	text-decoration: none;
	text-align: center;
/*	text-transform: uppercase; */
	font-family: Arial, Helvetica, sans-serif;
 /*  font-family:"Courier New",Courier,monospace; */ 
	font-size: 16px;
	font-weight: bold;
/*  word-spacing: -1px;*/
	color: $grey;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	color: black;
}

#menu .current_page_item a {
}

