/*	
 *= require fancybox
 *= require_self
 */


@import "reset";
@import "mixins";


$page_width : 800px;
$post_width : 780px;
$goal_width : 700px;
$gallery_width : 800px;
$project-show-width : 700px;
$video_width : 600px;
$contact_width : 600px;
$menu_width : 800px;

/************** Colors **************/

$light_blue : #435465;
$link_hover_color : #607890;
$border-color : #435465;
$header_color: black;
$main_title_color: black;

/************** Resetes **************/


*{
	font-family: 'Oswald', sans-serif;
	color:black;
}



body{
    background: url('http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/retro_intro.png');
}

ul{
	margin:0;
	li{
		list-style:none;
	}
}

/************** Actual styling **************/

#site-container{
	margin-top:15px;
	margin-bottom:15px
}

#site-container-box{
	background-color: white;
	width: $page_width+160;
	margin: 0 auto;
	@include border-radius(15px);
	@include box-shadow(1px, 1px, 1px, #A3A2A7);
	border:1px solid #aaa;
}


#wrapper{
	width:$page_width;
	margin:0 auto;
}

h1.main-heading{
	font-size:24px;
	padding-top:10px;
	padding-left:0px;
	margin-bottom:10px;
	
}

header{
	padding:20px 0;
	a{
		color:$light_blue;
		padding:20px;
		font-size: 16px;
		font-weight: bold;
		text-decoration:none;
		@include text-shadow(0px, 1px, 0px, white);
	}
	a:hover{
		color:$link_hover_color;
	}
	
	#menu-wrapper{
		border-top:1px solid #aaa;
		border-bottom:1px solid #aaa;
		padding: 20px 0px;
		margin-top: 20px;
		width:$page_width;
		@include box-shadow(0px, 1px, 0px, white);
		ul#menu{
			margin:0 auto;
			width:$menu_width;
			text-align:left;
			li{
				display:inline;
				list-style:none;
			}
		}
		img{
			display:inline-block;
			vertical-align:top;
		  	margin-left:30px;
			width:150px;
		}
	}
}

    
    
ul.posts{
	width:$post_width;
	li{
		padding:20px;
		header{
			margin:0px;
			margin-left:-20px;
    	padding-bottom: 5px;
			h1{
				color:$light_blue;
				font-size:28px;
				@include text-shadow(0px, 1px, 0px, white);
			}
		}
		.text{
			display:inline-block;
			vertical-align:top;
			width:380px;
			padding:0 40px 20px 0px;
			line-height:24px;
			font-size:15px;
			p{
				@include text-shadow(0px, 1px, 0px, white);
			}
		}
		img{
			display:inline;
			@include image-styling();
		}
	}
}

ul.gallery{
	width:$gallery_width;
	#img-container{
		margin: 0 auto;
	}
	li{
		padding:20px;
		img{
			display: inline;
			@include image-styling();
			max-width:230px;	
		}
	}
}

ul.videos{
	width:$video_width;
	margin-bottom: 40px;
	li{
		h1{
			padding-top:20px;
			font-size:24px;
			@include text-shadow(0px, 1px, 0px, white);
		}
		img{
			max-width: 280px;
		}

		p{
			vertical-align:top;
			line-height:24px;
			font-size:16px;
			@include text-shadow(0px, 1px, 0px, white);
		}
		a{
			color: $light_blue;
		}
	}	
}
div.goals {
	h1{
		padding-top: 20px;
		color:$header_color;
		font-size:24px;
		@include text-shadow(0px, 1px, 0px, white);
	}
	.text{
		width:$goal_width;
		font-size:16px;
		line-height:24px;
		padding:20px 0 20px 0;
		p{
			@include text-shadow(0px, 1px, 0px, white);
  		} 
	}

	#img-container{
		margin: 0 auto;
	}

	img{
		margin: 20px;
		display:inline;	
		@include image-styling();
	}
}

ul.contact-show{
	li{
		h1{
			padding-top:20px;
			color:$light_blue;
			font-size:24px;
			@include text-shadow (0px, 1px, 0px, white);
		}
		.contact-info{
			width:$contact_width;
			line-height:24px;
			font-size:16px;
			padding:40px 0 20px 0;
		}
		img{
			display:inline;
			@include image-styling();
		}
	}
}

ul.cards{
	li{
		background:white;
		padding:20px;
		margin:20px;
		display:inline-block;
		width:300px;
		border:1px solid $light_blue;	
		@include border-radius(3px);
		@include box-shadow(0px, 1px, 3px, $light_blue);
		a{
			text-decoration:none;
			color: $light_blue;

		}
		img{
			display:inline;
			width:80px;
			height:100px;
		}
		hr{
			border-top:1px solid $light_blue;
			@include box-shadow(0px, 1px, 0px, white);
		}
		.info{
			padding-left:10px;
			display:inline-block;
			vertical-align:top;
			max-width:190px;
			overflow:hidden;
			p{
				@include text-shadow(0px, 1px, 0px, white);
			}
		}
		h1{
			font-size:18px;
			@include text-shadow(0px, 1px, 0px, white);
		}
	}
}

ul.pagination{
	width:660px;
	border-top:1px solid $light_blue;
	margin-left:20px;
	padding:20px 0;
	
	li{
		display:inline;
    h1{
	    color:$light_blue;
	  	font-size:24px;
	  	@include text-shadow(0px, 1px, 0px, white);
	  }
		a{
			text-decoration:none;
			color:$light_blue;
		}
	}
}

ul.project-links{
  text-align:center;
  margin: 20px 0px 20px 0px;
  li{
    display:inline;
    a{
    	padding: 0 10px;
        margin-bottom:20px;
      	text-decoration:none;
      	display:inline;
      	color:$light_blue;
      	font-size:24px;
      	@include text-shadow(0px, 1px, 0px, white);
     }
  }  
}


h3#back-link{
	color:$light_blue;
    font-size:16px;
    line-height:24px;
    text-decoration:none;
    @include text-shadow(0px, 1px, 0px, white);
    margin: 60px 0 	20px 0;
}

ul.project-show{
	margin: 40px 0px 40px 0px;
	li{
		h1{
			color:$light_blue;
			font-size: 24px;
			@include text-shadow(0px, 1px, 0px, white);
		}	
		.text{
			width:$project-show-width;
			line-height:24px;
			font-size:16px;
			padding:40px 0 20px 0;
			p{
				@include text-shadow(0px, 1px, 0px, white);
      		} 
    	}
	}
}



#project-index{
	width:$page_width;
	padding:20px;
	h1#project-main-title{
		text-align:center	;
		font-size:24px;
		color:$header_color;
		margin-bottom:20px;
	}
	h1#project-regular-title{
		color:$header_color;
		font-size: 24px;
		@include text-shadow(0px, 1px, 0px, white);
	}
	p#project-statement{
		text-align:center;
		font-size:16px;
		line-height:24px;
		@include text-shadow(0px, 1px, 0px, white);
	}

	p#project-content{
		text-align:left;
		font-size:16px;
		line-height:24px;
		@include text-shadow(0px, 1px, 0px, white);
	}
	.text{
		width:$project-show-width;
		text-align:left;
		line-height:24px;
		font-size:16px;
		padding:40px 0 20px 0;
		p{
			@include text-shadow(0px, 1px, 0px, white);
  		} 
	}

}

#more-info{
	width:700px;
	padding:20px;
	h1{
		font-size:24px;
		color:$header_color;
		margin-bottom:20px;
	}
	p{
		font-size:16px;
		line-height:20px;
	}
}



img#name{
	padding-left:40px;
	display:inline-block!important;
	display:block;
	margin-right:40px;
	width:500px;	
}



div#main-title{
	padding-left:40px;
	margin-right:40px;
	display:inline-block;
	vertical-align:top;
	color: $main_title_color;
	h1{
		font-size: 67px;
	}
	h3{
		font-size:32px;	
	}
}

h3#slogan{
	text-align:center;
	font-weight:bold;
	font-size:14px;
	padding-bottom:30px;
}

footer.main-footer{
	border-top:1px solid black;
	margin-top:10px;
	margin-bottom:10px;
	p{
		padding-top:10px;
		text-align:center;
	}
}

#home-share-buttons{
	text-align:center;	
	vertical-align:top;
}

/*Nivo slider*/
.slider-container{
	position:relative;
	padding:5px;
	top:20px;
	left:40px;
	width:700px;
	min-height:350px;
	margin-bottom:50px;
	border:1px solid $border-color;
	@include box-shadow($border-color, 0px, 1px, 3px);
	@include border-radius(3px);
	background-color:white;
}

.nivoSlider {
	position:relative;
}
.nivoSlider img {
	width:700px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}


#dropdown {
	 margin: 0 0 50px 0;
	 padding: 0;
	 color: $light_blue;
	li {
		display: block;
		list-style: none;
		margin: 0;
		padding:0 0 0 10px;
		position: relative;
		height:30px;
		width:50px;
 	a#follow-text{
		text-decoration:none;
		color: $light_blue;
		border:1px 90% $light_blue;
		@include box-shadow($border-color, 0px, 1px, 3px);
		padding: 3px;
		@include border-radius(5px);
	}
	a#share-buttons{}
	}
	li:hover {}
	li a {
		text-decoration: none;
	}

}
#dropdown ul {
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 20px;
	left: -1px;
	z-index: 500;
}
#dropdown ul {
 	position: absolute;

}
#dropdown li:hover ul {
 	display: block;
}


#dropdown-header {
	 float: right;
	 margin: 0;
	 padding: 0;
	ul {
		display: none;
		margin: 0;
		padding: 1px;
		padding-top: 10px;
		position: absolute;
		top: 20px;
		left: -1px;
		z-index: 500;
	}
	color: $light_blue;
	li {
		display: block;
		list-style: none;
		margin: 0;
		position: relative;
		li:hover {}
		li a {
			text-decoration: none;
			background-color: white;
			color: $light_blue;
			text-decoration:none;
			border:1px 90% $light_blue;
			@include box-shadow(0px, 0px, 1px, $border-color);
			padding: 5px;
			@include border-radius(5px);
		
		}
	}
}

#dropdown-header li:hover ul {
 	display: block;
}



/* BOX SLIDER BUTTONS */

.bx-wrapper .bx-prev {
	position: absolute;
	top: 250px;
	left: -55px;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url(icons/icon_arrow_left.png) no-repeat 0 -31px;
}

.bx-wrapper .bx-next {
	position: absolute;
	top: 250px;
	right: -40px;
	width: 31px;
	height: 31px;
	text-indent: -999999px;
	background: url(icons/icon_arrow_right.png) no-repeat 0 -31px;
}


#partners-footer{
	padding: 20px 0px;
	margin-top: 20px;
	margin-bottom: 20px;
	width:$page_width;
	ul#partners{
		margin:0 auto;
		text-align: center;
		display: inline-block;
		li{
				max-width: 250px;
		    margin-right: 30px;
		    margin-left: 30px;
				display:inline;
			img{
				max-width: 250px;
			}
			a{
				text-decoration: none;
			}
		}
	}
}

#partners-header-donate{
	width: 150px;
	margin: 0 auto;
  margin-bottom:-5px;
}	

.donate-info{
	width:640px;
	margin-left:0px;
	p.donate{
		width: 600px;
		text-align:left;
		line-height:24px;
		font-size:16px;
		@include text-shadow(0px, 1px, 0px, white);
		a{
	    text-decoration:none;
	    font-weight:bold;
		}
	} 
}
