/*Colors*/

@dark_grey      : #727272;
@dark_dark_grey   :   #444;
@light_grey     : #ccc;
@light_blue     : #88bfdf;
@light_light_grey : #f9f9f9;

@anchor_default   : @dark_grey;
@heading_default  : @dark_dark_grey;

@button_border    : @light_grey;

@container_shadow     : @light_grey;
@container_border       :   @light_grey;
@thumb_border         :   @light_grey;

@heading_color        :   @dark_grey;
@menu_text_color      : @dark_grey;
@menu_search_color      : @light_grey;
@menu_search_focus_color  : @light_blue;

@input_border         : @light_grey;
@input_border_focus     :   @light_blue;

@featured_bg_color      : #fffbf2;
@main_bg_color        : #fffbf2;

@sidebar_bg         : #e7e1d6;
@sidebar_admin_bg       :   white;

@thead_background       :   @light_light_grey;

@product_gallery_thumb_bg : @light_light_grey;

@tree_child_bg        :   @light_light_grey;
