/*Mixins: */

@mixin border-radius($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
}

@mixin box-shadow($offset-x, $offset-y, $size, $color) {
	-webkit-box-shadow:$offset-x $offset-y $size $color;
	-moz-box-shadow:$offset-x $offset-y $size $color;
	-ms-box-shadow:$offset-x $offset-y $size $color;
	box-shadow:$offset-x $offset-y $size $color;
}

@mixin text-shadow($color, $offset-x, $offset-y, $size) {
	-webkit-box-shadow:$color $offset-x $offset-y $size;
	-moz-box-shadow:$color $offset-x $offset-y $size;
	-ms-box-shadow:$color $offset-x $offset-y $size;
	box-shadow:$color $offset-x $offset-y $size;
}
