// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
.home_logo{  
 background: url('future.png'); 
}

.footer_text_align{
  p{
    margin-left: 60px;
  }
}

