// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
.home_logo{  
  margin-left: 140px;
}

.make_black{
  color: black;
}

.footer_text_align{
  p{
    margin-left: 60px;
    font-size: 12px;
  }
}

